.button {
  &__icon {
    padding-right: 1rem;
  }
}

.btn.button {
  border-radius: 50rem;
  box-shadow: shadow(5, 1);
  font-size: 1.2rem;
}

.btn.btn-primary {
  background-color: $color-blue-dark;
  border-color: $color-blue-dark;
  &:hover,
  &:active {
    background-color: $color-blue-normal;
    border-color: $color-blue-normal;
  }
}

.confirmation-button {
  display: inline-block;
}
