.project
.classpath
.settings/
bin/

.idea
*.ipr
*.iml
*.iws

.vscode

.DS_Store

*.swp
*.swo

*.orig
*.rej

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

.factorypath