$font-title: "Lato";
$font-body: "Roboto";


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title, sans-serif !important;
    font-weight: 300 !important;
    color: $color-blue-dark;
}

h1 {
    font-size: 4rem !important;
}

h2 {
    font-size: 3rem !important;
}

body {
    font-family: $font-body !important;
    font-weight: 300 !important;
}