$color-white: #fff;

$color-gray-light-1:#FBFCFE; // color para el fondo
$color-gray-light-2:#DEDFE1; // color para grisado (text)
$color-gray-light-3:#F1F1F7; // color para rebordes
$color-gray-light-4:#F6F8FE; // color para el menu seleccionado

$color-gray-dark-1:#6F6F6F; // color para grisado oscuro (text)
$color-gray-dark-2:#3D4147;

$color-pink-light:#F4DDE6;
$color-pink-normal:#DB4E62;
$color-pink-dark:#5C212A;

$color-green-light:#A8D2BD;
$color-green-normal:#65C997;
$color-green-dark:#254A37;

$color-blue-light:#9CAEDF;
$color-blue-normal:#577AD9;
$color-blue-dark:#2A306D;

$color-yellow-light:#FEF4DC;
$color-yellow-normal:#E1A34D;
$color-yellow-dark:#AD7E3B;