.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.center {
    margin-top: auto;
    margin-bottom: auto;
}

.main-color {
    color: #5E548E !important;
    opacity: 1 !important;
}

.secondary-color {
    color: #5E548E;
}

.link-button:hover,
.link-button:focus {
    text-decoration: underline;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.link-button:disabled {
    color: #000 !important;
    cursor: auto;
    text-decoration: none !important;
}

.search-bar {
    border: none !important;
    border-bottom: 4px solid #5E548E !important;
    border-radius: 0 !important;
    color: #000 !important;
}

.search-bar:focus {
    outline: none !important;
    box-shadow: none !important;
}

::placeholder {
    color: #000 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #000 !important;
}

::-ms-input-placeholder {
    color: #000 !important;
}