.padding {
    padding-top: 30px;
}

.main-color {
    color: #9B77E3;
}

.secondary-color {
    color: #D1C1F2;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
}
  
.link-button:hover,
.link-button:focus {
  text-decoration: underline;
 }